body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


/* Style général du site */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles pour la navbar */
header {
    background-color: #bc2fae;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f8b400;
}



h1 {
    text-align: center;
}

.block {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer img {
    max-width: 50px;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
